.testMoreInfoContainer {
  width: 50%;
  margin-top: 2%;
  background-color: rgb(227, 227, 227);
  border-radius: 0.7vw;
  padding: 2%;
  box-sizing: border-box;
}
.fileinputfortraining {
  all: unset;
  display: none;
  color: rgb(219, 219, 219);
}
.uploaderContainer {
  position: fixed;
  display: flex;
  gap: 2%;
  width: 60%;
  height: 10vh;
  border-radius: 1vw;
  padding: 1%;
  margin-top: -1%;
}

#fileLabel {
  /* border: 2px dashed rgb(42, 120, 255);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  border-radius: 1vw;
  color: rgb(42, 120, 255);
  text-align: center;
  justify-content: center;
  align-items: center; */
}
.fileInputBox {
  /* height: 30vh;
  display: flex;
  margin-top: 1%;
  flex-direction: column; */
  width: 100%;
  height: 30vh;
}

.fileinputbtn {
  width: 100%;
  border-radius: 0.7vw;
  background-color: #16aee8;
  padding: 1%;
  margin-top: 2%;
}

.file-main {
  width: 100%;
  display: flex;
}

.training-status {
  color: #0f0;
  padding: 3%;
  text-align: center;
  width: 45%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px dashed #0f0;
  margin: 1%;
  box-sizing: border-box;
  border-radius: 0.7vw;
  margin-top: 3%;
  margin-left: 2%;
}
.uploadBtn {
  background-color: rgb(42, 120, 255);
  cursor: pointer;
  padding: 5%;
  border-radius: 0.7vw;
  width: 100%;
  height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.dbSelector {
  width: 33%;
  height: 30vh;
  background-color: white;
  box-shadow: 2px 2px 10px 0px gray;
  border-radius: 1vw;
  border: 2px dashed blue;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  color: rgb(53, 53, 224);
  font-size: 1.2vw;
  font-weight: bold;
  font-family: sans-serif;
  cursor: pointer;
}
.demoImage {
  height: 35vh;
  width: 20vw;
  margin-left: 35%;
}
.questionIndex {
  margin: 2%;
  padding: 1%;
  font-size: 1.1vw;
  background-color: rgb(181, 181, 181);
  color: black;
  border-radius: 1vw;
  height: 3vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
.deleteIcon {
  cursor: pointer;
  height: auto;
  width: 2vw;
  background-color: white;
  padding: 0.5%;
  border-radius: 50%;
}
.addDummyQuestion {
  cursor: pointer;
}
.imageUploaderIcon{
  height: 3vw;
  width: 3vw;
  /* margin-left: 22%; */
}
.uploaderImage{

}
@media screen and (max-width: 430px) {

  .uploaderContainer {
  position: fixed;
  display: flex;
  gap: 2%;
  width: 60%;
  height: 10vh;
  border-radius: 1vw;
  padding: 1%;
  /* margin-top: -1%; */
  margin-top: 10%;
}
  .testMoreInfoContainer {
    width: 50%;
    margin-top: 2%;
    background-color: rgb(227, 227, 227);
    border-radius: 0.7vw;
    padding: 2%;
    box-sizing: border-box;
    border-radius: 2vw;
  }
  .fileinputfortraining {
    all: unset;
    display: none;
  }
  .fileInputBox {
    width: 100%;
    height: 10vh;
  }

  .fileinputbtn {
    width: 100%;
    border-radius: 0.7vw;
    background-color: #16aee8;
    padding: 1%;
    margin-top: 2%;
  }

  .file-main {
    width: 100%;
    display: flex;
  }

  .training-status {
    color: #0f0;
    padding: 3%;
    text-align: center;
    width: 45%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px dashed #0f0;
    margin: 1%;
    box-sizing: border-box;
    border-radius: 0.7vw;
    margin-top: 3%;
    margin-left: 2%;
  }
  .uploadBtn {
    background-color: rgb(42, 120, 255);
    cursor: pointer;
    padding: 5%;
    border-radius: 0.7vw;
    width: 100%;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .uploadTestHeader {
    width: 100%;
  }
  .questionIndex {
  margin: 2%;
  padding: 1%;
  font-size: 1.1vw;
  background-color: rgb(181, 181, 181);
  color: black;
  border-radius: 1vw;
  height: 8vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
.indexNo{
  font-size: 4vw;
}
.deleteIcon {
  cursor: pointer;
  height: auto;
  width: 6vw;
  background-color: white;
  padding: 0.8%;
  border-radius: 50%;
}
.addDummyQuestion {
  cursor: pointer;
}
.imageUploaderIcon{
  height: 5vw;
  width: 5vw;
}
}
