.Sidecontainer {
  background-color: rgb(61, 61, 253);
  background-color: #333f6b;
  height: 100vh;
  width: 20%;
  padding: 1%;
  box-sizing: border-box;
  position: absolute;
}
.helioIcon {
  height: 6vw;
  width: 6vw;
}
.routesContainer {
  margin-top: 0%;
  cursor: pointer;
}
.sidebarHeader {
  color: white;
  font-size: 2.9vw;
  font-weight: 500;
  /* display: flex;
  text-align: center;
  align-items: center;
  justify-content: center; */
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.route {
  display: flex;
  gap: 2%;
  height: auto;
  margin-top: 0vh;
  padding: 2%;
  box-sizing: border-box;
}
.routeName:hover {
  color: white;
}
.subTestName:hover {
  color: white;
  transition-duration: 0.3s;
}
.routeIcon {
  height: 1.5vw;
  width: 1.5vw;
}
.routeIconMock {
  height: 2.2vw;
  width: 2.1vw;
  margin-left: -1%;
}
.routeName {
  color: rgb(163, 163, 254);
  font-size: 1.2vw;
}
.routeNameMock {
  color: rgb(163, 163, 254);
  font-size: 1.2vw;
  margin-left: -1.2%;
}
.subTestName {
  color: rgb(163, 163, 254);
  font-size: 1vw;
  margin-left: 3%;
  width: 100%;
}
.subRouteName {
  color: rgb(163, 163, 254);
  font-size: 1vw;
  width: 100%;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
}
.nestedRouteContainer {
  margin-left: 10%;
}
.nestedRoute {
  color: rgb(163, 163, 254);
  font-size: 1vw;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
}
.logout {
  margin-left: -1%;
  display: flex;
  align-items: center;
  text-align: center;
  gap: 2%;
}

@media screen and (max-width: 430px) {

  .Sidecontainer {
    background-color: rgb(12, 12, 242);
    background-color: #333f6b;
    backdrop-filter: blur(5px);
    height: 100vh;
    width: 100%;
    z-index: 9999999999;
    padding: 2vw;
    box-sizing: border-box;
    position: absolute;
    animation: show 0.2s ease-in-out forwards;
  }
  @keyframes show {
    from {
      transform: translateX(-90%);
      opacity: 0;
    }
    to {
      transform: translateX(0%);
      opacity: 1;
    }
  }
  .helioIcon {
    height: 24vw;
    width: 24vw;
  }
  .routesContainer {
    margin-top: 5%;
    cursor: pointer;
  }
  .sidebarHeader {
    color: white;
    font-size: 13vw;
    font-weight: 500;
  }
  .route {
    display: flex;
    height: auto;
    margin-top: 0%;
    padding: 2%;
    box-sizing: border-box;
  }
  .routeName:hover {
    color: white;
  }
  .subTestName:hover {
    color: white;
    transition-duration: 0.3s;
  }
  .routeIcon {
    height: 15vw;
    width: 15vw;
    display: none;
  }
  .routeIconMock {
    height: 15vw;
    width: 15vw;
    display: none;
  }
  .routeName {
    color: white;
    font-size: 5vw;
    margin-top: 1%;
    margin-left: 3%;
  }
  .subTestName {
    color: white;
    font-size: 4vw;
    margin-left: 3%;
    width: 100%;
  }
  .subRouteName {
    color: white;
    font-size: 4vw;
    margin-left: 3%;
    width: 100%;
    /* display: flex; */
    align-items: center;
    justify-content: flex-start;
    text-align: center;
  }
  .nestedRouteContainer {
    margin-left: 10%;
  }
  .nestedRoute {
    color: white;
    font-size: 4vw;
    margin-left: 3%;
    margin-top: 3%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
  }
  .logout {
    /* position: fixed;
    bottom: 1; */
    width: 100%;
  }
  .logoutText {
    border: 2px solid white;
    border-radius: 2vw;
    height: 6vh;
    display: flex;
    align-items: center;
    background-color: white;
    color: #333f6b;
    font-size: 6vw;
    font-weight: 600;
    width: 100%;
    padding-left: 2%;
  }
}
