* {
  font-family: sans-serif;
}

.authContainer {
  display: flex;
}
.authHeader {
  font-size: 2vw;
  font-weight: 600;
  color: rgb(42, 120, 255);
  color: #333f6b;
  color: #c5d2ff;
  margin-bottom: 5%;
}
.authStyle {
  width: 40%;
  height: 100vh;
  background-color: rgb(42, 120, 255);
  background-color: #333f6b;
}
.authStyle2 {
  width: 40%;
}
.authFormContainer {
  width: 100%;
  height: 100vh;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  position: absolute;
}
.auth {
  background-color: white;
  width: 70%;
  height: auto;
  box-shadow: 2px 2px 12px -4px gray;
  border-radius: 2vw;
  padding: 2vw;
  box-sizing: border-box;
  text-align: left;
  align-items: flex-start;
  justify-content: flex-start;
}
.alternateOption {
  width: auto;
  text-align: center;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-top: 3%;
}
.alternateOption:hover {
  color: blue;
}
.smallText:hover {
  color: rgb(126, 23, 28);
}
.smallText {
  color: black;
  margin-top: 3%;
  margin-bottom: 3%;
  cursor: pointer;
}
.error {
  width: auto;
  height: 2vh;
  font-size: 1.2vw;
  text-align: center;
  align-items: center;
  justify-content: center;
  border: 0px solid red;
  background-color: rgb(255, 230, 230);
  border-radius: 0.7vw;
  color: red;
  padding: 0.5vw;
  margin-left: 5%;
  font-weight: 200;
}
.backIcon {
  margin: 2%;
  cursor: pointer;
  z-index: 99999999999;
  position: absolute;
  height: 5vw;
  width: 5vw;
}
.form {
  width: 50%;
}

@media screen and (max-width: 430px) {
  * {
    font-family: sans-serif;
  }

  .authContainer {
    display: flex;
  }
  .authHeader {
    font-size: 7vw;
    font-weight: 600;
    color: #333f6b;
    margin-bottom: 5%;
  }
  .authStyle {
    width: 40%;
    height: 100vh;
    background-color: #333f6b;
  }
  .authFormContainer {
    width: 100%;
    height: 100vh;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    position: absolute;
  }
  .loginImage {
    display: none;
  }
  .auth {
    background-color: white;
    width: 90%;
    height: auto;

    box-shadow: 2px 2px 12px -4px gray;
    border-radius: 2vw;
    padding: 5%;
    box-sizing: border-box;
    text-align: left;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: -30%;
  }
  .alternateOption {
    width: auto;
    text-align: center;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-top: 3%;
  }
  .alternateOption:hover {
    color: rgb(126, 23, 28);
  }
  .smallText:hover {
    color: rgb(126, 23, 28);
  }
  .smallText {
    color: black;
    margin-top: 3%;
    margin-bottom: 3%;
    cursor: pointer;
  }
  .error {
    width: auto;
    height: 6vh;
    font-size: 4vw;
    text-align: center;
    align-items: center;
    justify-content: center;
    border: 0px solid red;
    background-color: rgb(255, 230, 230);
    border-radius: 1vw;
    color: red;
    padding: 1%;
    margin-left: 5%;
    font-weight: 200;
  }
  .backIcon {
    margin: 2%;
    cursor: pointer;
    z-index: 99999999999;
    position: absolute;
    height: 12vw;
    width: 12vw;
  }
  .form {
    width: 100%;
  }
}
